/* common css here  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.primary_clr{
    color: #FF5400;
}
.primary_bgclr{
    background-color: #FF5400;
   
}
a{
    text-decoration: none;
}


header,main{
    margin:  50px 135px ;
}

/* header part start here */
    /* nav  part start here */
    .nav_main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_logo{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    nav> ul {
        display: flex;
        gap: 40px;
        
    }
    nav ul li{
        list-style: none;
    }
    nav ul li a{
        color: #424247;
        font-size: 1rem;
        font-weight: 400px;
    }
    nav ul li a:hover{
        color: #FF5400;
    }
  
  
    /* nav part end here */
/* header part end here */

/* banner part start here */
.banner{
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}
.banner_title{
    padding: 106px  0  25px  0;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner_description{
    padding: 24px 245px 50px 245px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    
}
.banner_input{
    padding: 0px 185px  50px 185px;

}
.input_border{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px ;
    display: flex;
    justify-content: space-evenly;
}
.input_border input,select,button{
    padding: 10px ;
    
}
/* banner part end here */

/* popular tour part start here */
.popular_tour{
    display: flex;
    margin: 100px 0px;
}
.popular_tour h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
   
}
.popular_tour p{
    padding: 24px  0;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;

}
.popular_tour button{
    padding: 15px  30px;
    border: none;
    color: white;
    border-radius: 5px;
}
.popular_tour li{
    margin-left: 15px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}


/* popular tour part end here */

/* destination part start here */
.destination_main{
    margin-bottom: 100px;
}
.des_title{
    text-align: center;
}
.des_title h2{
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
    
}
.des_title P{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding: 25px 340px 25px 340px;
}
.des_card_img{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.des_card_img img{
    width: 100%;
}
/* .card_img{
    position: relative;
} */
.card_img {
    position: relative;

}
.card_img h3{
    position: absolute;
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* destination part end here */
/* Choose us part start  here */
.chosse_card{
    display: flex;
    justify-content: space-between;
    gap: 25px;
   
}
.choose_card-item{
    padding: 32px 65px 32px 32px ;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.choose_card-item:hover{
    background-color: rgba(41, 206, 246, 0.05);
}
.choose_card-item img{
    width: 70px;
    height: 70px;
}
.choose_card-item h3{
    margin: 20px 0;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    
}
.choose_card-item p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    
}
/* .item{
    display: flex;
    align-items: center;
   
    
} */
/* Choose us part end  here */

/* newslatter part start here */
.newslatter_main{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.newslatter_input{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newslatter_input h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
   
}
.newslatter_input p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding: 40px 0;
   
}

.newslatter_input input{
    display: flex;
    margin: 10px 2px;
    padding: 15px 250px 20px 15px;
}
.newslatter_input  button{
    width: 100%;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    
}
.newslatter_img{
    position: relative;
}
.newslatter_img img{
    width: 100%;
   
    
}
.newslatter_img .travel_discount {
    position: absolute;
    color: #fff;
    bottom: 55px;
    left: 396px;
    border-radius: 10px;
    transform: rotate(-24deg);
    padding: 10px 15px;
    text-align: center;
}
.travel_discount h3{
    font-size: 32px;
    font-weight: 800;
}

/* newslatter part end here */


/* media query for responsive */

@media screen and (max-width:600px) {
   header,main{
    margin: 20px;
}
   nav ul{
    flex-direction: column;
}
/* banner part responsive  */
   .banner_title{
    padding: 32px  65px  5px  65px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 800;
}
  .banner_description{
    padding: 0px 15px 32px 15px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
  .banner_input{
    padding: 0px 24px  32px 24px;

}  
  .input_border{
    flex-direction: column;
}
  .input_border input,select,button{
    margin: 16px 0 ;
    
}
.tour-description-img Img{
    width: 100%;
}
/* popular tour part responsive */
.popular_tour{
    flex-direction: column;
}

/* destination part  responsive */
.des_title h2{
    font-size: 1.1rem;   
}
.des_title P{
    font-size: 14px;
    padding: 10px 15px 25px 10px;
}
.des_card_img{
    flex-direction: column;
 
}
.des_card_img{
    padding: 0px;
}
.des_card_img img{
    width: 100%;
    height: 200px;
}
.chosse_card{
    flex-direction: column;
}

/* newslatter responsive */
.newslatter_main{
    flex-direction: column;
}
.newslatter_input input{

    padding: 16px 15px 16px 80px;
}
.newslatter_img .travel_discount {
   
    bottom: 15%;
    left: 70%;
    transform: rotate(-54deg);
    padding: 0px 0px;
    
}
.travel_discount h3{
    font-size: 1rem;
    font-weight: 800;
}

}

